@* #nullable disable

@model App.ViewModels.RaceListViewModel

@{
    ViewData["Title"] = "HomePage";
    Layout = "_Layout";
}   

<table class="table">
    <thead>
        <tr>

            <th>
                Race Name
            </th>
            <th>
                Date
            </th>
            <th>
                Heure
            </th>
            <th>
                Places restantes
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RaceList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.EventDate.ToShortDateString()
            </td>
            <td>
                @item.EventDate.ToShortTimeString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPlaces)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table> *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome 🏁</h1>
    <h1>Bienvenue sur le site Epic Race Events 🏎️</h1>
    <img src="https://www.lemans.org/media/cache/api_news_large/assets/fileuploads/5f/64/5f64ba40786e0.jpg" alt="Page d'accueil">
    
</div>
